{% extends 'template.html' %}

{% block content %}
<h2>Let's play!</h2>

<table>
  {% for space in board %}

    {% if (loop.index - 1) % length == 0 %}
      </tr>
      <tr class="row{{ ((loop.index - 1) / 3)|int }}">
    {% endif %}

    <td> {% if space == " " %}
      <form method="POST" action="{{ url_for('update_board')}}" class="space-choice">
        <input type="hidden" name="_method" value="PUT" />
        <input type="hidden" name="board" value="{{ board }}" />
        <input type="hidden" name="choice" value="{{loop.index - 1}}"/>
        <button type="submit" value="submit" />
      </form>
    {% endif %}  &nbsp;{{ space }} &nbsp;  </td>

  {% endfor %}
  </tr>

</table>

{% endblock %}
