body {
  padding: 10px;
  padding-left: 30px;
}

table {
  border-collapse: collapse;
  border-style: hidden;
}

table td {
  border: 2px solid black;
  padding: 5px;
}

.error {
  color: red;
}

p.instructions {
  font-weight: bold;
}

#setup {
  padding-left: 20px;
}

.options {
  padding-left: 10px;
}

#start {
  margin-top: 10px;
}
